.customer-content{
    flex: 1;
    padding: 20px;
    height: max-content;
}

.customer-inner{
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.submit-button-customer{
    max-width: 100px;
    margin-left: 0;
}

.customer-form-input{
    display: flex;
    flex-direction: row;
}

.customer-input{
    max-width: 300px;
    margin-right: 20px;
}

.customer-modal-input{
    margin: auto;
    max-width: 300px;
}
